name: Send Email with Gmail (SSL)

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
    - main

jobs:
  send_email:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: "Setting up Python"
      id: setup_python
      uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
      python-version: [ 3.11 ]

    - name: Send Email via Gmail SMTP (SSL)
      run: |
        python mailer.py
